<% content_for :title do %>
  <li><%= link_to 'People', people_path %></li>
<% end %>
<% title 'People' %>

<p data-has-preferences="<%= @has_preferences %>" id="new-people-message"<%= raw ' style="display: none"' if @people.count < 1 || @has_preferences %>>
  Now, click your name below and rate some candy!
</p>

<% if @has_preferences %>
  <div class="filters">
    <label for="filter-type">Filter:</label>
    <div class="row">
      <div class="col s6">
        <select id="filter-type" class="filter-type browser-default">
          <option value="" selected="selected">All preferences</option>
          <% Preference::VALID_TYPES.each do |type| %>
            <option value="<%= type %>"><%= type %></option>
          <% end %>
        </select>
      </div>
      <div class="col s6">
        <select class="filter-candy browser-default">
          <option value="" selected="selected">All candies</option>
          <% @candies.each do |candy| %>
            <option value="<%= candy.id %>"><%= candy %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>

  <hr>
<% end %>

<ul class="people-list">
  <% @people.each do |person| %>
    <li>
      <ul class="person-preferences">
        <% type_index = 0 %>
        <% person.preferences_summary.each do |type, candies| %>
          <% candy_ids_str = candies.map {|c| c.id.to_s }.join(',') %>
          <li class="preference preference-<%= type %> preference-<%= type_index %>">
            <% if type_index == 0 %>
              <%= link_to person, person_preferences_path(person) %>
            <% else %>
              <span class="preference-data" data-candy-ids="<%= candy_ids_str %>">&mdash;</span>
            <% end %>
            <span class="preference-data" data-candy-ids="<%= candy_ids_str %>">
              <%= type %>
              <% candies.each_with_index do |candy, i| %>
                <span class="candy candy-<%= candy.id %>"><strong><%= candy %></strong><span class="candy-separator"><% if i == candies.length - 2 %><% if candies.length > 2 %>,<% end %> and<% elsif i < candies.length - 1 %>, <% end %><% if i == candies.length - 1 %>.<% end %></span></span>
              <% end %>
            </span>
          </li>
          <% type_index += 1 %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<hr id="people-divider" <%= raw ' style="display: none"' if @people.count < 1 %>>

<p id="add-people-instructions"<%= raw ' style="display: none"' if @people.count > 0 %>>
  Who do you want to share candy with? Add them below! Be sure to add yourself.
</p>

<p id="person-error" class="alert deep-orange lighten-3" style="display: none"></p>

<div class="row">
  <form class="add-person col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">add</i>
        <input type="text" id="new-person-name" placeholder="Name">
        <label for="new-person-name">Add person</label>
      </div>
    </div>
  </form>
</div>
