<% content_for :title do %>
  <li><%= link_to 'Trends', trends_candies_path %></li>
<% end %>

<div class="row">
  <div class="col s6">
    <% if @popular_candies.to_a.size > 0 %>
      <h3>Most Popular Candies</h3>
      <ol>
        <% @popular_candies.each do |candy| %>
          <li><%= candy %></li>
        <% end %>
      </ol>
    <% end %>

    <% if @popular_candies.to_a.size > 0 && @disliked_candies.to_a.size > 0 %>
      <hr>
    <% end %>

    <% if @disliked_candies.to_a.size > 0 %>
      <h3>Most Disliked Candies</h3>
      <ol>
        <% @disliked_candies.each do |candy| %>
          <li><%= candy %></li>
        <% end %>
      </ol>
    <% end %>
  </div>
  <div class="col s6">
    <% if @boring_candies.to_a.size > 0 %>
      <h3>Most Boring Candies</h3>
      <ol>
        <% @boring_candies.each do |candy| %>
          <li><%= candy %></li>
        <% end %>
      </ol>
    <% end %>

    <% if @boring_candies.to_a.size > 0 && @unrated_candies.to_a.size > 0 %>
      <hr>
    <% end %>

    <% if @unrated_candies.to_a.size > 0 %>
      <h3>Unrated Candies</h3>
      <p>
        <strong><%= @unrated_candies.to_sentence %></strong>
        <% if @unrated_candies.to_a.size == 1 %>
          has
        <% else %>
          have
        <% end %>
        not yet been rated.
      </p>
    <% end %>
  </div>
</div>

<hr>

<p>
  <strong><%= @hate_percentage %>%</strong> of people think
  <strong><%= @hated_candy %></strong> is a bullshit candy.
</p>
