<% content_for :title do %>
  <li><%= link_to 'Trends', trends_candies_path %></li>
<% end %>
<% title 'Trends' %>

<% if @hate_percentage && @hated_candy %>
  <p>
    <strong><%= @hate_percentage %>%</strong> of people think
    <strong><%= link_to @hated_candy, candy_path(@hated_candy) %></strong>
    is a bullshit candy.
  </p>
<% end %>

<div class="row">
  <div class="col s6">
    <% if @popular_candies.to_a.size > 0 %>
      <h3>Most Popular Candies</h3>
      <ol>
        <% @popular_candies.each do |candy| %>
          <li><%= link_to candy, candy_path(candy) %></li>
        <% end %>
      </ol>
    <% end %>

    <% if @disliked_candies.to_a.size > 0 %>
      <h3>Most Disliked Candies</h3>
      <ol>
        <% @disliked_candies.each do |candy| %>
          <li><%= link_to candy, candy_path(candy) %></li>
        <% end %>
      </ol>
    <% end %>

    <% if @divisive_candies.to_a.size > 0 %>
      <h3>Most Divisive Candies</h3>
      <ol>
        <% @divisive_candies.each do |candy| %>
          <li>
            <%= link_to candy, candy_path(candy) %>&nbsp;&nbsp;
            <em class="grey-text">
              <%= pluralize candy.love_count, 'love' %>,
              <%= pluralize candy.hate_count, 'hate' %>
            </em>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
  <div class="col s6">
    <% if @pickiest_eaters.size > 0 %>
      <h3>Pickiest Eaters</h3>
      <ol>
        <% @pickiest_eaters.each do |person| %>
          <li>
            <%= link_to person, person_preferences_path(person) %>&nbsp;&nbsp;
            <em class="grey-text">
              <%= person.favorable_preferences.count %> favorable
              versus
              <%= person.unfavorable_preferences.count %> unfavorable
            </em>
          </li>
        <% end %>
      </ol>
    <% end %>

    <% if @boring_candies.to_a.size > 0 %>
      <h3>Most Boring Candies</h3>
      <ol>
        <% @boring_candies.each do |candy| %>
          <li><%= link_to candy, candy_path(candy) %></li>
        <% end %>
      </ol>
    <% end %>

    <% if @unrated_candies.to_a.size > 0 %>
      <p>
        <% @unrated_candies.each_with_index do |candy, i| %>
          <strong><%= link_to candy, candy_path(candy) %></strong><% if i == @unrated_candies.length - 2 %><% if @unrated_candies.length > 2 %>,<% end %> and<% elsif i < @unrated_candies.length - 1 %>, <% end %>
        <% end %>
        <% if @unrated_candies.to_a.size == 1 %>
          has
        <% else %>
          have
        <% end %>
        not yet been rated.
      </p>
    <% end %>
  </div>
</div>
