<% content_for :title do %>
  <li><%= link_to 'Home', root_path %></li>
<% end %>

<ul class="distribution-list">
  <% @favored_by_one.each do |person, candies| %>
    <li>
      Give all the <strong><%= candies.to_sentence %></strong> to
      <strong><%= person %></strong>.
    </li>
  <% end %>

  <% @favored_by_many.each do |candy, data| %>
    <% people = data[:loves] + data[:likes] %>
    <li>
      <% if people.size == 2 %>
        Split
      <% else %>
        Divvy up
      <% end %>
      the <strong><%= candy %></strong>
      <% if data[:loves].empty? || data[:likes].empty? %>
        evenly
      <% end %>
      <% if people.size == 2 %>
        between
      <% else %>
        among
      <% end %>
      <strong><%= people.to_sentence %></strong><% if data[:loves].empty? || data[:likes].empty? %>.<% else %>...<br>&nbsp;&nbsp;&nbsp;&nbsp;but <strong><%= data[:loves].to_sentence %></strong> should get more.
      <% end %>
    </li>
  <% end %>

  <% if @favored_by_none.count > 0 %>
    <li>
      Throw away all the <strong><%= @favored_by_none.to_sentence %></strong>.
    </li>
  <% end %>
</ul>
