<% content_for :title do %>
  <li><%= link_to 'Home', root_path %></li>
<% end %>
<% title 'Candy Distribution' %>

<% if @has_preferences %>
  <div class="filters">
    <label for="filter-distribution-person">Filter:</label>
    <div class="row">
      <div class="col s6">
        <select id="filter-distribution-person" class="filter-distribution-person browser-default">
          <option value="" selected="selected">All people</option>
          <% @people.each do |person| %>
            <option value="<%= person.id %>"><%= person %></option>
          <% end %>
        </select>
      </div>
      <div class="col s6">
        <select class="filter-distribution-candy browser-default">
          <option value="" selected="selected">All candies</option>
          <% @candies.each do |candy| %>
            <option value="<%= candy.id %>"><%= candy %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
<% end %>

<p id="no-ratings-by-person-message" style="display: none">
  <span class="person"></span> has not yet rated any candy. :(
</p>

<ul class="distribution-list">
  <% @favored_by_one.each do |person, data| %>
    <% candy_ids_str = data[:candies].map {|c| c.id.to_s }.join(',') %>
    <li data-candy-ids="<%= candy_ids_str %>" data-person-ids="<%= data[:person_id] %>">
      Give all the
      <% data[:candies].each_with_index do |candy, i| %>
        <strong><%= link_to candy, candy_path(candy) %></strong><% if i == data[:candies].length - 2 %><% if data[:candies].length > 2 %>,<% end %> and<% elsif i < data[:candies].length - 1 %>, <% end %><% if i == data[:candies].length - 1 %>.<% end %>
      <% end %>
      to <strong><%= person %></strong>.
    </li>
  <% end %>

  <% @favored_by_many.each do |candy, data| %>
    <% people = data[:loves] + data[:likes] %>
    <% person_ids_str = people.map {|p| p.id.to_s }.join(',') %>
    <li data-candy-ids="<%= data[:id] %>" data-person-ids="<%= person_ids_str %>">
      <% if people.size == 2 %>
        Split
      <% else %>
        Divvy up
      <% end %>
      the <strong><%= link_to candy, candy_path(data[:slug]) %></strong>
      <% if data[:loves].empty? || data[:likes].empty? %>
        evenly
      <% end %>
      <% if people.size == 2 %>
        between
      <% else %>
        among
      <% end %>
      <strong><%= people.map(&:name).to_sentence %></strong><% if data[:loves].empty? || data[:likes].empty? %>.<% else %>...<br>&nbsp;&nbsp;&nbsp;&nbsp;but <strong><%= data[:loves].to_sentence %></strong> should get more.
      <% end %>
    </li>
  <% end %>

  <% if @favored_by_none.count > 0 %>
    <% candy_ids_str = @favored_by_none.pluck(:id).join(',') %>
    <li data-candy-ids="<%= candy_ids_str %>" data-person-ids="">
      Throw away all the
      <% @favored_by_none.each_with_index do |candy, i| %>
        <strong><%= link_to candy, candy_path(candy) %></strong><% if i == @favored_by_none.length - 2 %><% if @favored_by_none.length > 2 %>,<% end %> and<% elsif i < @favored_by_none.length - 1 %>, <% end %><% if i == @favored_by_none.length - 1 %>.<% end %>
      <% end %>
    </li>
  <% end %>

  <% if @unrated.size > 0 %>
    <% candy_ids_str = @unrated.pluck(:id).join(',') %>
    <li data-candy-ids="<%= candy_ids_str %>" data-person-ids="">
      The vote is still out on
      <% @unrated.each_with_index do |candy, i| %>
        <strong><%= link_to candy, candy_path(candy) %></strong><% if i == @unrated.length - 2 %><% if @unrated.length > 2 %>,<% end %> and<% elsif i < @unrated.length - 1 %>, <% end %><% if i == @unrated.length - 1 %>.<% end %>
      <% end %>
    </li>
  <% end %>
</ul>
