<% content_for :title do %>
  <li>
    <%= link_to 'People', people_path %> /
    <%= link_to "#{@person}'s Preferences", person_preferences_path(@person) %>
  </li>
<% end %>

<p class="alert deep-orange lighten-3" id="preference-error" style="display: none"></p>

<ul class="preferences-list">
  <% @preferences.each do |candy_name, data| %>
    <li>
      <h3><%= candy_name %></h3>
      <ol class="preference">
        <li class="hate<%= ' active' if data.key?(:hate) %>">
          <a href="#" class="tooltipped set-preference" data-candy-id="<%= data[:candy].id %>" data-person-id="<%= @person.id %>" data-preference-id="<%= data.key?(:preference) ? data[:preference].id : '' %>" data-preference-type="Hate" data-position="top" data-tooltip="Hate">
            <span class="preference-icon"></span>
          </a>
        </li>
        <li class="dislike<%= ' active' if data.key?(:dislike) %>">
          <a href="#" class="tooltipped set-preference" data-candy-id="<%= data[:candy].id %>" data-person-id="<%= @person.id %>" data-preference-id="<%= data.key?(:preference) ? data[:preference].id : '' %>" data-preference-type="Dislike" data-position="top" data-tooltip="Dislike">
            <span class="preference-icon"></span>
          </a>
        </li>
        <li class="indifferent<%= ' active' unless data.key?(:preference) %>">
          <a href="#" class="tooltipped set-preference" data-candy-id="<%= data[:candy].id %>" data-person-id="<%= @person.id %>" data-preference-id="<%= data.key?(:preference) ? data[:preference].id : '' %>" data-preference-type="" data-position="top" data-tooltip="Indifferent">
            <span class="preference-icon"></span>
          </a>
        </li>
        <li class="like<%= ' active' if data.key?(:like) %>">
          <a href="#" class="tooltipped set-preference" data-candy-id="<%= data[:candy].id %>" data-person-id="<%= @person.id %>" data-preference-id="<%= data.key?(:preference) ? data[:preference].id : '' %>" data-preference-type="Like" data-position="top" data-tooltip="Like">
            <span class="preference-icon"></span>
          </a>
        </li>
        <li class="love<%= ' active' if data.key?(:love) %>">
          <a href="#" class="tooltipped set-preference" data-candy-id="<%= data[:candy].id %>" data-person-id="<%= @person.id %>" data-preference-id="<%= data.key?(:preference) ? data[:preference].id : '' %>" data-preference-type="Love" data-position="top" data-tooltip="Love">
            <span class="preference-icon"></span>
          </a>
        </li>
      </ol>
    </li>
  <% end %>
</ul>

<hr>

<%= form_tag person_path(@person), method: 'delete', class: 'delete-person' do -%>
  <%= submit_tag 'Delete This Person', class: 'btn red accent-2 white-text' %>
<% end %>
