<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Candyfair</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="orange darken-2 title-area">
    <div class="container">
      <h1 class="white-text">
        <%= link_to 'Candyfair', root_path, class: 'white-text' %>
      </h1>
      <h2 class="orange-text text-lighten-3">
        The fairest way to distribute candy.
      </h2>
    </div>
  </header>
  <% if user_signed_in? %>
    <nav role="navigation" class="grey darken-4 white-text nav-container">
      <div class="container">
        <ul class="left title-links">
          <% if content_for? :title %>
            <%= yield :title %>
          <% end %>
        </ul>
        <ul class="right">
          <li>
            <%= link_to 'Candies', candies_path %>
          </li>
          <li>
            <%= link_to 'People', people_path %>
          </li>
          <li>
            <%= link_to 'Sign Out', destroy_user_session_path %>
          </li>
        </ul>
      </div>
    </nav>
  <% end %>
  <main class="main-content">
    <div class="container">
      <% if notice.present? %>
        <p class="notice teal lighten-5"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert deep-orange lighten-3"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </main>
  <footer class="amber lighten-5 footer">
    <div class="container">
      <ul>
        <li>
          <%= link_to 'View Source', 'https://github.com/moneypenny/candyfair', class: 'orange-text text-darken-4' %>
        </li>
      </ul>
    </div>
  </footer>
  <%= javascript_include_tag 'application' %>
</body>
</html>
